.cabecalho {
    background: #DB6137;
    position: fixed;
    width: 100vw;
    z-index: 1;

  }

  .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .logo {
    height:90px;
    width: auto;
    margin-left: 1vw;
  }
  

  @media only screen and (min-width: 1000px){
    .nav-itens{
      display: flex;
      flex-direction: row;
      list-style: none;
      padding-right: 2vw;
    }

    .nav-item{
      margin: 0 10px;
    }

    .nav-item a{
      font-weight: 600;
      text-decoration: none;
      color: #ffffff;
      font-family: 'Ubuntu', sans-serif;
    }
  }