.conteiner-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.icones{
    width: 170px;
    padding: 40px 0 10px 0;
   
}

.nomes-icones{
    font-size: 30px;
}

.nomes-icones:last-child{
    padding-bottom: 20px;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

@media only screen and (min-width: 1000px){
    .conteiner-contato{
        flex-direction: row;
        justify-content: space-around ;
        align-items: center;
        margin: 50px 20vw;
    }
    .redes-sociais{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
    .nomes-icones{
        font-size: 20px;
    }

    .icones:hover {
        transition: 0.1s all;
        transform: scale(1.1);
    }
    
    
}