.conteiner-projetos{
    display:flex;
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
  }
  
  .titulo-projetos{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .imagem-projeto{
    width: 80vw;
    border-style: solid;
    border-color: #ffffff;
  }

  
  
  .descricao-projetos{
    width: 80vw;
    text-align: center;
    font-size: 30px;
    display: none;
    
  }
  
  .btn-saiba_mais{
    height: 100px;
    width: 80vw;
    background-color: #577A8F;
    border: #ffffff;
    border-style: solid;
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0;
    text-decoration-color: #ffffff;
    transition: 0.2s;
    color: #ffffff
  }
  
  .btn-saiba_mais_ativo{
    background-color: #ffffff;
      transition: 0.2s;
      cursor: pointer;
      color: #577A8F;
  }

 .blur{
  filter: blur(2px);
 }

  

  @media only screen and (min-width: 1050px){
    .projetos{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0 10vw 0 10vw;
    }
    
    .conteiner-projetos{
      display:flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .titulo-projetos{
      font-size: 25px;
      margin-bottom: 20px;
    }
    .imagem-projeto{
      width: 25vw;
      border-style: solid;
      border-color: #ffffff;
    }
    
    .descricao-projetos{
      width: 25vw;
      text-align: center;
      font-size: 20px;
      display: none;
      
    }
    
    .btn-saiba_mais{
      height: 4vh;
      width: 20vw;
      background-color: #577A8F;
      border: #ffffff;
      border: 2px;
      border-style: solid;
      font-size: 1rem;
      font-weight: 600;
      margin: 20px 0;
      
      cursor: pointer;
      color: #ffffff;
    }

    .btn-saiba_mais:hover {
      background-color: #2E5561;
      color: #ffffff;
    }
    
    .btn-saiba_mais_ativo{
      background-color: #ffffff;
      transition: 0.2s;
      cursor: pointer;
      color: #577A8F;
      
    }
  }