.rodape{
    background-color: #1e1f22;
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}
.texto-rodape{
    text-align: center;
    color: #fdfdfd;
}

.logo-rodape{
    padding-top: 25px;
    height: 40px;
    width: auto;
}