* {
    margin: 0;
    padding: 0;
    
  }
  
  body {
    background-color: #4b4b4b;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    min-height: 400px;
  }
  
  header {
    background: #DB6137;
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    margin: 0 auto;
    width: 100vw;
    z-index: 1;

  }


  /*nav {
    margin-left: 100px;
    position: absolute;
    padding-right: 5vw;
    top: 30px;
    right: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 0 0 2vw;
  }

  nav a {
  color: #000000;
	font-size: 15px;
  font-weight: bold;
	text-decoration: none;
  text-transform: uppercase;
  }

  nav a:hover {
  color: #ffffff;
	text-decoration: underline;
  }*/

  .botao-mobile{
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    right: 70px;
    top: 15px;
    cursor: pointer;
  }

  
  .botao-mobile:focus-within ~ nav {
    height:400px;
  }
  
  .logo {
    height: auto;
    padding-left: 1vw;
    position: relative;
    width: 90px;
    left: 80px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    height: 0;
    transition: all .5s;
   
  }

  nav ul {
    text-align: center;
    overflow: hidden;
    
  }

  nav li {
    margin: 65px;
    list-style-type: none;
  }
  
  nav a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    }
  
  .caixa a {
    scroll-margin: 1sec;
  }

  .container-titulo {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 120px;
    font-size: 40px;
    cursor: default;
  }
  
  

  .conteiner-apresentacao{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:80px;
    
  }
  
  .apresentacao {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    width: 80%; 
    text-align: center;
    margin-bottom: 30px;
    
  }

  .foto-pedro{
    border-style: solid;
    border-color: #ffffff;
    border-radius: 50%;
    height: max-content;
    width: 400px;
    
  }

  .container-botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0 100px 0;
      
  }

  .botao-linkedin , .botao-github {
    
    background-color: #DB6137;
    border: none;
    color: #000000;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    height: 50px;
    padding-top: 25px;
    text-align: center;
    text-decoration: none;
    width: 150px;
  }

  .botao-github {
    margin-left: 50px;
  }

  .botao-linkedin:hover , .botao-github:hover {
    transition: 0.1s all;
    transform: scale(1.1);
    color: #ffffff;
  }

.conteiner-timeline {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4b4b4b;
  padding: 100px 0;
}

.timeline {
  width: 80%;
  font-family: 'Ubuntu', sans-serif;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child{
  margin-bottom: 0;
}
.timeline-content h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.data {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 20px;
}

.timeline-h2 {
text-align: center;
font-family: 'Ubuntu', sans-serif;
font-weight: 500;
font-size: 40px;
margin: 30px 0 30px 0;
}

.barra-divisoria {
  position: relative;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
  margin: 120px 0 80px 0;
  
  
}

@media only screen and (min-width: 1000px){
  
  header {
    background: #DB6137;
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    margin: 0 auto;
    width: 100vw;
    z-index: 1;

  }

  .botao-mobile {
    display: none;
  }

  nav {
    display: block;
    background:none;
    margin-left: 100px;
    position: absolute;
    padding-right: 5vw;
    top: 30px;
    right: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 0 0 2vw;
  }


  nav a {
  color: #000000;
	font-size: 15px;
  font-weight: bold;
	text-decoration: none;
  text-transform: uppercase;
  }

  nav a:hover {
  color: #ffffff;
	text-decoration: underline;
  }

  .logo {
    height: auto;
    ;
    position: relative;
    width: 80px;
    
  }
  .conteiner-apresentacao{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:80px;
    
  }
  .apresentacao {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    width: 550px; 
    padding-right:100px
  }
  
  
  
  
  
  
  
  
  
  
  .timeline::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: grey;
  }
  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;

  }
  .timeline ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-60px);
    border-radius: 10px 0 10px 10px;
  }
  .timeline ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(60px);
    border-radius: 0px 10px 10px 10px;
  }
  .timeline ul li::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after{
    right: -20px;
    transform: translate(50%, -50%);
  }
  .timeline ul li:nth-child(even)::after{
    left: -20px;
    transform: translate(-50%, -50%)
  }
  .timeline ul li:hover::after{
    transition: 0.2s all;
    background-color: #DB6137;
  }

  .data {
    position: absolute;
    top: -30px;
  }
}

  